<h1>About Love</h1>
<h2>Hello, never forget :</h2>
  <p>Love is the most beautiful thing in the world, never forget it and never sacrifice your love for some professionnel stuffs.</p>
<p> Si tu veux mieux me connaître <a href= "<%= aboutme_path %>" title="la suite par ici" target=>clique ici</a> <br>
 Si tu veux mieux connaître mon groupe <a href="<%= aboutus_path %>" title="notre suite par ici" target=>clique ici</a></p>
