<h1>Elonmusk Crew</h1>

<p>Bienvenu sur notre premier site.<br>
Composé de Mohammad-Ali, Odyssée, Hogo et David, nous sommes le dernier groupe survivant de Lyon.<br>
Notre mentalité est simple : "Nous pouvons réussir tout ce que nous entreprenons, nous abandonnerons jamais peu importe les défis sur notre route". </p>
