<h2>Inscription</h2>
<p>Veuillez préciser votre prénom et vous d'écrire pour vous inscrire</p>

<form action="/" target="_blank" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Prénom:<br>
  <input type="text" name="user_name">
  <br>
  Description:<br>
  <textarea rows="4" cols="50" name="user_text">

  </textarea>
  <br><br>
  <input type="submit" value="S'inscrire">
</form>
